<!-- core/templates/core/secretaria.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Cadastros - Secretaria</title>
</head>
<body>
    <h1>Gerenciamento de Cadastros - Secretaria</h1>

    <ul>
        <li><a href="{% url 'gerenciar_alunos' %}">Aluno</a></li>
        <li><a href="{% url 'cadastrar_professor' %}">Cadastrar Professor</a></li>
        <li><a href="{% url 'cadastrar_disciplina' %}">Cadastrar Disciplina</a></li>
        <li><a href="{% url 'index' %}">Voltar</a></li>

    </ul>
</body>
</html>
